
#front-page {
  height: 500px;
}

#back-cover {
  height: 500px;
  background-image: url(../images/1200px-NYSE-edit.jpg);
  background-size: cover;
}

#front-page-text {
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
}

#front-page-text a {
  font-weight: normal;
}

#front-page-text h1 {
  font-size: 6em;
}

/* iPhone 6 Plus and Nexus 6P*/
@media (max-width: 436px) {
  #front-page-text h1 {
    font-size: 4.5em;
  }
  .long-word {
    font-size: 3em;
  }
}

/* iPhone 5 and 4 and Galaxy S5*/
@media (max-width: 361px) {
  #front-page-text h1 {
    font-size: 3.5em;
  }

  #copyright-notice {
    font-size: 0.75em;
  }
}

#features {
  padding: 3em 0em 3em 0em;
}

#features p {
  text-align: justify;
  padding: 0em 1em 0em 1em;
}

#gs-button {
  padding-bottom: 2em;
}

/* Fixing copyright which seems to be off */
#copyright-notice {
  margin-top: -5px;
}

#download-btn {
  font-size: 1.25em;
  margin-top: 30px;
}

.breadcrumb-wrapper {
  padding: 0px 15px 0px 15px;
}

.page-header, .page-content {
  padding-top: 2em;
  padding-bottom: 2em;
}
