
// colour variables
$accent-color : #00e676;
$white : #f5f5f5;
$black : #212121;

// breakpoints
$mobile-breakpoint: 430px;
$tablet-breakpoint: 768px;
$laptop-medium-breakpoint: 992px;
$very-big-phone-breakpoint: 600px;

// general variables
$navbar-height : 80px;
