@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto');


$accent-color : #00e676;
$white : #f5f5f5;

// general classes
.accent-color {
  color: $accent-color;
}

.btn, .btn-large {
  background-color: $accent-color;
  &:hover {
    background-color: darken($accent-color, 10%);
  }
}


#navbar {
  position: fixed;
  z-index: 100;
  height: 80px;
  top: 0px;
  left: 0px;
  padding: 0px 20px;
  width: 100%;
  text-align: right;

  color: $white;
  background-color: transparent;

  border: none;
  box-shadow: none;


  #logo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    padding: 0px 10px;
    float: left;
  }

  ul {
    display: inline-block;
    width: auto;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;

    li {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        font-size: 1.1rem;
      }
    }
  }
}

#landing {
  width: 100%;
  min-height: 700px;
  padding: 200px 50px 50px;
  background-color: #212121;
  position: relative;
  overflow: hidden;

  #landing-text {
    color: $white;
    position: relative;
    z-index: 10;
  }

  #terminal-screen {
    // these variables are used to keep the same aspect ratio of the screen and computer on resize.
    $terminal-screen-width: 35vw;
    $min-terminal-screen-width: 250px;
    $terminal-original-width: 600;
    $terminal-original-height: 520;

    $ticker-screen-original-width: 528;
    $ticker-screen-original-height: 260;
    $terminal-top-border: 29;
    $terminal-side-border: 32;

    position: absolute;
    right: 40px;
    bottom: 0px;
    min-width: $min-terminal-screen-width;
    width: $terminal-screen-width;
    min-height: ($terminal-original-height / $terminal-original-width) * $terminal-screen-width; // multiplying aspect ratio times the new width to get the proper height.
    background-image: url("../images/computer.svg");
    background-size: 100%;
    z-index: 2;

    #tickers {
      // multiplying original aspect ratio of screen to computer by the new terminal width
      width: ($ticker-screen-original-width / $terminal-original-width) * $terminal-screen-width;

      min-width: ($ticker-screen-original-width / $terminal-original-width) * $min-terminal-screen-width;
      // same with height
      height: ($ticker-screen-original-height / $terminal-original-height) * $terminal-screen-width;
      // same with margins
      margin-top: ($terminal-top-border / $terminal-original-height) * $terminal-screen-width;
      margin-left: ($terminal-side-border / $terminal-original-width) * $terminal-screen-width;

      background-color: #404040;

      table {
        height: 100%;
        font-size: (14 / $terminal-original-height) * $terminal-screen-width;
        tr {
          height: 16.66%;
          td, th {
            padding: 0px 8px;
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
            color: $white;
          }
          th {
            font-size: 1.1em;
          }
          td.ticker {
            text-align: left;
          }
        }
      }
    }
  }

  #volume-bars {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 180px;
    width: auto;
    z-index: 1;
  }
}
