# Files to be ignored by git when committing

# these are Python cached files which are not needed, but appear during testing
*.pyc

# the database does not need to be committed and it is too large
utilities_and_modules/stocks.db

