@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto");
/* line 4, ../sass/_base.scss */
html {
  background-color: #212121;
}

/* line 8, ../sass/_base.scss */
body {
  background-color: #f5f5f5;
}

/* line 13, ../sass/_base.scss */
.accent-color {
  color: #00e676;
}

/* line 17, ../sass/_base.scss */
.separator {
  height: 4px;
  background-color: #00e676;
  border: none;
  text-align: left;
  margin-left: 0px;
}

@media (min-width: 769px) {
  /* line 25, ../sass/_base.scss */
  .hide-on-desktop {
    display: none !important;
  }
}

@media (max-width: 600px) {
  /* line 31, ../sass/_base.scss */
  .hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 600px) {
  /* line 37, ../sass/_base.scss */
  .hide-on-tablet-and-up {
    display: none !important;
  }
}

/* line 44, ../sass/_base.scss */
.btn, .btn-large {
  background-color: #00e676;
}
/* line 46, ../sass/_base.scss */
.btn:hover, .btn-large:hover {
  background-color: #00b35c;
}
/* line 49, ../sass/_base.scss */
.btn.dark-bg, .btn-large.dark-bg {
  background-color: #757575;
}
/* line 51, ../sass/_base.scss */
.btn.dark-bg:hover, .btn-large.dark-bg:hover {
  background-color: #5c5c5c;
}

/* line 3, ../sass/_navbar.scss */
#navbar {
  position: fixed;
  z-index: 100;
  height: 80px;
  top: 0px;
  left: 0px;
  padding: 0px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #f5f5f5;
  background-color: transparent;
  border: none;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
/* line 25, ../sass/_navbar.scss */
#navbar.active {
  background-color: #2e2e2e;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
/* line 30, ../sass/_navbar.scss */
#navbar #logo {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  margin-right: auto;
  order: 1;
}
/* line 41, ../sass/_navbar.scss */
#navbar #logo img {
  height: 60%;
  width: auto;
}
/* line 47, ../sass/_navbar.scss */
#navbar ul {
  display: inline-block;
  width: auto;
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 100%;
  order: 2;
}
/* line 58, ../sass/_navbar.scss */
#navbar ul li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 64, ../sass/_navbar.scss */
#navbar ul li a {
  font-size: 1.1rem;
}
/* line 71, ../sass/_navbar.scss */
#navbar button#menu-toggle {
  order: 2;
  margin: 0px;
  background-color: transparent;
  color: white;
  padding: 0px;
  height: 100%;
  border: none;
}
/* line 83, ../sass/_navbar.scss */
#navbar button#menu-toggle .fa {
  margin-top: 20px;
  font-size: 35px;
}
@media (max-width: 768px) {
  /* line 91, ../sass/_navbar.scss */
  #navbar ul {
    height: calc(100vh - $navbar-height);
    width: 80%;
    position: fixed;
    top: 80px;
    left: -80%;
    background-color: #212121;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  /* line 100, ../sass/_navbar.scss */
  #navbar ul li {
    display: block;
    width: 100%;
    height: 50px;
  }
}

/* line 1, ../sass/_landing.scss */
#landing {
  width: 100%;
  min-height: 700px;
  padding: 200px 50px 50px;
  background-color: #212121;
  background-image: url("../images/background.png");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
/* line 12, ../sass/_landing.scss */
#landing #landing-text {
  color: #f5f5f5;
  position: relative;
  z-index: 10;
}
/* line 19, ../sass/_landing.scss */
#landing #terminal-screen {
  position: absolute;
  right: 40px;
  bottom: 0px;
  min-width: 250px;
  width: 35vw;
  min-height: 30.33333vw;
  background-image: url("../images/computer.svg");
  background-size: 100%;
  z-index: 2;
}
/* line 41, ../sass/_landing.scss */
#landing #terminal-screen #tickers {
  width: 30.8vw;
  min-width: 220px;
  height: 17.5vw;
  margin-top: 1.95192vw;
  margin-left: 1.86667vw;
  background-color: #404040;
}
/* line 54, ../sass/_landing.scss */
#landing #terminal-screen #tickers table {
  height: 100%;
  font-size: 0.94231vw;
}
/* line 57, ../sass/_landing.scss */
#landing #terminal-screen #tickers table tr {
  height: 16.66%;
}
/* line 60, ../sass/_landing.scss */
#landing #terminal-screen #tickers table tr td, #landing #terminal-screen #tickers table tr th {
  padding: 0px 8px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  color: #f5f5f5;
}
/* line 67, ../sass/_landing.scss */
#landing #terminal-screen #tickers table tr th {
  font-size: 1.1em;
}
/* line 70, ../sass/_landing.scss */
#landing #terminal-screen #tickers table tr td.ticker {
  text-align: left;
}
/* line 78, ../sass/_landing.scss */
#landing #volume-bars {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 180px;
  width: auto;
  z-index: 1;
}
@media (max-width: 768px) {
  /* line 1, ../sass/_landing.scss */
  #landing {
    padding: 100px 50px 50px;
  }
  /* line 90, ../sass/_landing.scss */
  #landing h1 {
    font-size: 3rem;
  }
  /* line 94, ../sass/_landing.scss */
  #landing #terminal-screen {
    display: none;
  }
}

/* line 3, ../sass/_info-sections.scss */
.slide-out-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 19, ../sass/_info-sections.scss */
.slide-out-text {
  width: 100%;
  padding: 60px 35px 60px 35px;
}
/* line 22, ../sass/_info-sections.scss */
.slide-out-text .separator {
  width: 0px;
}
/* line 26, ../sass/_info-sections.scss */
.slide-out-text #alt-clock {
  width: 180px;
  height: auto;
}

/* line 33, ../sass/_info-sections.scss */
#first-wrapper {
  background-color: #f5f5f5;
  position: relative;
  min-height: 600px;
}
/* line 37, ../sass/_info-sections.scss */
#first-wrapper .row {
  margin-bottom: 0px;
}
/* line 41, ../sass/_info-sections.scss */
#first-wrapper #time {
  background-color: #00e676;
}
/* line 44, ../sass/_info-sections.scss */
#first-wrapper #time #backtesting {
  color: #009a4f;
  margin-bottom: 30px;
}
/* line 49, ../sass/_info-sections.scss */
#first-wrapper #time #clock-image-container {
  position: relative;
  width: 200px;
}
/* line 52, ../sass/_info-sections.scss */
#first-wrapper #time #clock-image-container #clock {
  width: 100%;
  height: auto;
}
/* line 56, ../sass/_info-sections.scss */
#first-wrapper #time #clock-image-container #minutehand, #first-wrapper #time #clock-image-container #hourhand, #first-wrapper #time #clock-image-container #center {
  position: absolute;
}
/* line 59, ../sass/_info-sections.scss */
#first-wrapper #time #clock-image-container #center {
  top: 8px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  height: 32px;
  width: auto;
}
/* line 69, ../sass/_info-sections.scss */
#first-wrapper #time #clock-image-container #minutehand {
  width: 5px;
  height: auto;
  bottom: 49%;
  left: 0px;
  right: 0px;
  margin: auto;
}
/* line 77, ../sass/_info-sections.scss */
#first-wrapper #time #clock-image-container #hourhand {
  width: 8px;
  height: auto;
  bottom: 49%;
  left: 0px;
  right: 0px;
  margin: auto;
}

/* line 91, ../sass/_info-sections.scss */
#second-wrapper {
  background-color: #f5f5f5;
  position: relative;
  min-height: 600px;
}
/* line 95, ../sass/_info-sections.scss */
#second-wrapper .row {
  margin-bottom: 0px;
}
/* line 99, ../sass/_info-sections.scss */
#second-wrapper #analytics {
  background-color: #212121;
  right: 0px;
  left: auto;
}
/* line 104, ../sass/_info-sections.scss */
#second-wrapper #analytics #analytics-container {
  position: relative;
  width: 230px;
  height: auto;
}
/* line 120, ../sass/_info-sections.scss */
#second-wrapper #analytics #analytics-container #graph-background {
  width: 100%;
  height: auto;
}
/* line 124, ../sass/_info-sections.scss */
#second-wrapper #analytics #analytics-container .bar {
  position: absolute;
  height: auto;
  width: 48.51563px;
  bottom: 17.67969px;
}
/* line 130, ../sass/_info-sections.scss */
#second-wrapper #analytics #analytics-container #bluebar {
  margin-left: 21.11328px;
}
/* line 133, ../sass/_info-sections.scss */
#second-wrapper #analytics #analytics-container #greenbar {
  margin-left: 90.74219px;
}
/* line 136, ../sass/_info-sections.scss */
#second-wrapper #analytics #analytics-container #redbar {
  margin-left: 160.37109px;
}

/* line 2, ../sass/_footer.scss */
#footer {
  background-color: #212121;
}
